{
	"parser": "@typescript-eslint/parser",
	"extends": ["react-app", "react-app/jest", "airbnb-typescript", "prettier"],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"ignorePatterns": ["src/i18n.js"],
	"plugins": ["import", "prettier", "unused-imports"],
	"rules": {
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": "warn",
		"import/no-unresolved": "off",
		"import/named": "off",
		"semi": ["error", "always"],
		"quotes": [
			"error",
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"no-unused-vars": "off",
		"import/no-unused-modules": "error",
		"no-console": "warn",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx", ".tsx"]
			}
		],
		"import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
		"prettier/prettier": ["error"]
	}
}
