html,
body,
#root {
    height: 100%;
    width: 100%;
}

.cookie-button {
    background-color: #EB0F0F;
    height: 100%;
    color: white;
    border-radius: 3%;
    font-size: 14px;
    padding: 10px 25px;
    margin: 0;
    margin-left: 25px;
}

.cookie-content {
    display: flex;
    background: #363839;
    color: #A1A1A1;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
    margin: 0;
}

.cookie-container {
    display: flex;
    background: #363839;
    color: #A1A1A1;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.label-hover-effect:hover #custom-unchecked-icon path {
    stroke-width: 7;
    color: #257CB5;
    transition: all 300ms ease;
}
