
html, body, #root {
    height: 100%;
    width: 100%;
}

#backgroundImage {
    background-color: #ADBECF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#loginForm {
    background-color: rgba(255, 255, 255, .88);
    border-radius: 4px;
    text-align: center;
    padding: 30px;
    margin: 10% auto;
    min-height: 200px;
    max-width: 490px;
    width: 490px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .3);
}

#loginForm div form input {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #d7d7d7 !important;
    text-align: left;
    margin: 0;
    outline: none;
    font-size: 16px;
    color: #545454;
    -webkit-appearance: none;
    background-color: transparent !important;
    border-radius: 0;
    padding: 6px 12px 6px 12px;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    background-color: #ADBECF;
}

.login-left {
    background: linear-gradient(161.94deg, #315D86 22.4%, #283C58 76.88%), #F5F5F5;
    border-radius: 12px 0px 0px 12px;
    width: 400px;
    height: 666px;
}

.login-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 640px;
    height: 665px;
    background: #FFFFFF;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0112458), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0161557), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.02), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0238443), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0287542), 0px 100px 80px rgba(0, 0, 0, 0.04);
    border-radius: 0px 12px 12px 0px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
    gap: 20px;
}

.login-logo {
    width: 240px;
    height: 52.94px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 75%;
    min-height: 340px;
}

.welcome {
    width: 100%;
    height: 32px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #20252B;
}

.input-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 64px;
    margin-bottom: 1em;
}

.input-stack-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 20px;
}

.input-stack-label label {
    width: auto;
    height: 20px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #283C58;

}

.input-stack-label span.help-text {
    height: 16px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #7E8A9B;
}

.input-stack input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px 0px 12px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #839EB6;
    border-radius: 4px;
    flex: none;
}

.primary-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 100%;
    height: 48px;
    background: #2D5172;
    border-radius: 6px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;

}

.primary-button:hover {
    background: #315D86;
}

.login-right-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.forgot {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.error-text {
    color: #DD3821;
}

.text-center {
    text-align: center;
}

a.white-text {
    color: white;
}

.cookie-button {
    background-color: #EB0F0F;
    height: 100%;
    color: white;
    border-radius: 3%;
    font-size: 14px;
    padding: 10px 25px;
    margin: 0;
    margin-left: 25px;
}

.cookie-content {
    display: flex;
    background: #363839;
    color: #A1A1A1;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
    margin: 0;
}

.cookie-container {
    display: flex;
    background: #363839;
    color: #A1A1A1;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.react-secondary-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #839EB6;
    border-radius: 6px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

.react-secondary-button:hover {
    border: 1px solid #5A7D9E !important;
    background: #FFFFFF;
}

.w-75 {
    width: 75%;
}

.mr-15 {
    margin-right: 15px;
}

.button-row {
    display: flex;
    width: 100%;
}

.d-flex {
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.list-styled {
    list-style: inside;
    list-style-type: disc;
}

#amp-logo {
    min-width: 240px;
    min-height: 50px;
}

.label-hover-effect:hover #custom-unchecked-icon path {
    stroke-width: 7;
    color: #257CB5;
    transition: all 300ms ease;
}

.close {
    text-align-last: right;
    cursor: pointer;
  }